body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    height: 125px;
    background-color: #1f2937;
    display: flex;
    padding: 0px 125px;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 150px;
    min-width: 30px;
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
    margin: 10px;
}

.body-one p {
    color: #f9faf8;
}

.body-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 90px 150px;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.body-one img {
    border-radius: 10px;
    width: 400px;
}

.body-one h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 12px 22px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.body-info {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.body-info img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #3882f6;
}

.central-images {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.central-images div {
    width: 200px;
}

.body-info h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.body-quote {
    background-color: #e5e7eb;
}

.body-quote p {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    margin: 36px 350px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 300px;
    padding: 25px 100px;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
}

.footer h1 {
    color: white;
    margin: 5px 0;
    font-size: 25px;
}

.footer p {
    color: white;
    margin: 5px 0;
}

.footer button {
    border-color: white;
    border: 1px;
    border-style: solid;
}